<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="http://openlayers.org/en/v3.5.0/build/ol.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="./javascripts/mapPage.js"></script>
        <link rel="stylesheet" href="./stylesheets/mapPage.css" type="text/css">

        <script type="text/javascript" src="./javascripts/obs1.js"></script>
        <script type="text/javascript" src="./javascripts/obs_inc_dead.js"></script>
        <script type="text/javascript" src="./javascripts/woodressource.js"></script>
        <script type="text/javascript" src="./javascripts/herds.js"></script>
        <script type="text/javascript" src="./javascripts/Structure.js"></script>
        <script type="text/javascript" src="./javascripts/fire.js"></script>
        <script type="text/javascript" src="./javascripts/obsRarePlant.js"></script>
        <script type="text/javascript" src="./javascripts/superagent.js"></script>
        <script type="text/javascript" src="./javascripts/ol3-popup.js"></script>
        
        
        
        <link rel="stylesheet" href="./stylesheets/ol3-popup.css" type="text/css">
        <title>mapPage</title>
    </head>
    <body>
    
        <div id="map" class="map">
        </div>

     

        <div id="legend">
            <br>
            <br>
            <ul>
                <li>
                  <div id="layer0">
                    <label class="checkbox" for="visible0">
                      <input id="visible0" class="visible" type="checkbox"/>Bing Aerial
                    </label>
                    <input class="opacity" type="range" min="0" max="1" step="0.01"/>
                  </div>
                </li>
                <li>
                  <div id="layer1">
                    <label class="checkbox" for="visible0">
                      <input id="visible0" class="visible" type="checkbox"/>Open Street Map
                    </label>
                    <input class="opacity" type="range" min="0" max="1" step="0.01"/>
                  </div>
                </li>
                <li>
                  <div id="layer2">
                    <label class="checkbox" for="visible0">
                      <input id="visible0" class="visible" type="checkbox"/>Buildings
                    </label>
                    <input class="opacity" type="range" min="0" max="1" step="0.01"/>
                  </div>
                </li>
                <li>
                    <div id="layer3">
                    <label class="checkbox" for="visible0">
                      <input id="visible0" class="visible" type="checkbox"/>Fences
                    </label>
                    <input class="opacity" type="range" min="0" max="1" step="0.01"/>
                  </div>
                </li>
                <li>
                  <div id="layer4">
                    <label class="checkbox" for="visible0">
                      <input id="visible0" class="visible" type="checkbox"/>Roads
                    </label>
                    <input class="opacity" type="range" min="0" max="1" step="0.01"/>
                  </div>
                </li>
                <li>
                  <div id="layer5">
                    <label class="checkbox" for="visible0">
                      <input id="visible0" class="visible" type="checkbox"/>Observations 1
                    </label>
                    <input class="opacity" type="range" min="0" max="1" step="0.01"/>
                  </div>
                </li>
            </ul>
        </div>

        <button id="legendSwitch" onclick="switchLegend(event)"></button> 
        <button id="addButton">Add</button>
        <button id="modButton">Modifiy</button> 
        
        <div id="form">
            <div id="IDc" class="container">
                <label>ID</label>
                <input id="IDinput" type="text"></input>
            </div>
            <div id="Xc" class="container">
                <label>Coordonnée X</label>
                <input id="Xinput" type="text"></input>
            </div>
            <div id="Yc" class="container">
                <label>Coordonnée Y</label>
                <input id="Yinput" type="text"></input>
            </div>
            <div id="Nomc" class="container">
                <label>Nom</label>
                <input  id="nameinput" type="text" ></input>
            </div>
            <div id="Spec" class="container">
                  <label>Species</label>
                  <select id="speciesinput" size=1 >
                    <option value="rhinoceros">Rhinoceros</option>
                    <option value="giraffe">Giraffe</option>
                    <option value="zebra">Zebra</option>
                    <option value="...">...</option>
                  </select>
            </div>
            <div id="Sexc" class="container">
                  <label>Sex</label>
                  <select id="sexinput" size=1>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                  </select>
            </div>
            <div id = "woodtypediv" class="container">
                    <label>Wood type</label>
                    <form name="type" id="woodtype" > 
                        <input type="radio" name="typeWood" value="Dead tree" id="Dead tree" checked> Dead tree<br>
                        <input type="radio" name="typeWood" value="Brushes" id="Brushes" > Brushes<br>
                        <input type="radio" name="typeWood" value="Other" id="Other" > Other <br>
                        <input  type="text" name="otherText" id="otherText">
                    </form>
            </div>
            <div id="Structure_type" class="container">
                    <label>Structure:</label>
                    <select id="Select">
                          <option value="Social Weaver Nest"> Social Weaver Nest</option>
                          <option value="Termite mounds"> Termite mounds</option>
                          <option value="Aardwark hole"> Aardwark hole</option>
                          <option value="Rhino dung pile"> Rhino dung pile</option>
                    </select>
            </div>

            <div id ="RPSc" class="container">
                <label>Plant Species:</label>
                <input id="plantspecies" type="text"><br>
            </div> 
            <div id="CSc" class="container">
                <label>Conservation Status</label>
                <select id="conservationlevel">
                <option value="criticallyendangered">Critically Endangered</option>
                <option value="endangered">Endangered</option>
                <option value="vulnerable">Vulnerable</option>
                <option value="nearthreatened">Near Threatened</option>
                </select>               
            </div>
     
            <div id="Nb_animals" class="container">
                    <label>Number</label>
                    <form>
                       <input id= "numberinput" type="number" name="quantity" min="1">
                    </form>
            </div>
            <p></p>
            <div id="Comc" class="container">
                <label >Comment</label>
                <input id="commentinput" type="text"></input>
            </div>
            <div id="Addc" class="container">
                <label >Added</label>
                <input id="dateinput" type="date"></input>
            </div>
            <div id="Phoc" class="container">
                <label>Photo</label>
                <input  id="PhotoId" type="text" style="display:none"></input>
                <div style="min-height: 200px; border: solid 1px lightgrey">
                    <img  id="imgElement" src="" width=280px>
                </div>
                <input id="fileinput" type="file" enctype='multipart/form-data' onchange="onFileSelected(event)"></input>
            </div>
            <div class="container">
                <input id="cancelBtn" type="button" value="Cancel"></input>
                <input id="saveBtn" type="button" value="Save"></input>
            </div>
        </div>

    </body>
</html>
