
      #data{
      clear: both;
      	display:inline-block;
      	width:25%;
      	float:left;
      	margin-right:20px;
      	height: 500px;
      }
      .map {
        height: 500px;
        width: 70%;
        display:inline-block;
        position: absolute;
        float:left;
       	z-index:0;
      }
      .right{
      	float:right;
      }
      form.left{
      display: inline-block;
    float: left
      }
      .layers{
      	width: 15%;
      	position: relative;
        float:right;
        z-index:1;
        height: 500px;
        background:rgba(255,255,255,.8)
      }
      a{
      	text-decoration: none;
      }

      #inc_dead_div{
        display: block;
        position: relative;
      }

      #inc_dead_div div{
        margin-top: 5px ; 
        margin-bottom: 5px ; 
      }

      #inc_fence_div{
        display: none;
        position: relative;
      }

      #inc_fence_div div{
        margin-top: 5px ; 
        margin-bottom: 5px ; 
      }

      #validation_form{
        position: absolute;
        right: 0px ; 
      }

      textarea{
        width: 90% ; 
        height: 50px ; 
      }

      #age_species{
        width: 3em ; 
      }

      .picture_list{
        width: 50% ; 
      }

      .date_obs{
        width: 20% ; 
      }

      .span6{
        position: relative; 
        bottom: 5px ; 
        left: 5px ; 
        display: inline-block;
      }